/*PORTFOLIO-GRID*/

$grid-row-heigth: calc((((100vw - #{$navigation-width}) / 36) - .3px ))

.grid-container
	display: grid
	grid-template: repeat(36, $grid-row-heigth) / repeat(8, 1fr)

.grid-item
	background-color: $base-green
	border: 5px solid #fff


.grid-item-square
	grid-row: span 9
	grid-column: span 3

.grid-item-square-small
	grid-row: span 6
	grid-column: span 2
.grid-item-square-end
	grid-row: span 9
	grid-column: 1 / span 3

.grid-item-long
	grid-row: span 9
	grid-column: span 5

.grid-item-long-start
	grid-row: 4 / span 9

.grid-item-long-end
	grid-row: 19 / span 9
	grid-column: 4 / span 5


@media (max-width: $tablet)
	.grid-container
		display: grid
		grid-template: repeat(100, $grid-row-heigth) / repeat(8, 1fr)
	.grid-item-m
		grid-row: span 26
		grid-column: span 4
		order: 2
	.grid-item-square-small
		order: 0
		position: relative
		background-position: center center
		grid-row: span 16
		grid-column: 5 / span 4

@media (max-width: $mobile)
	.grid-container
		display: grid
		grid-template: repeat(36, calc(100vh / 12)) / repeat(8, 1fr)

	.grid-item-s
		grid-row: span 8
		grid-column: span 8

	.grid-item-square-small
		display: none
